
@{
    ViewData["Title"] = "VerifyEmail";
}

@section Links{
    <link rel="stylesheet" href="~/assets/css/account.css">
}

@section Scripts{
    <script src="~/assets/js/account.js"></script>
}

<div class="container">
    <div class="alert alert-primary" role="alert">
        Please check your email!
    </div>
</div>
