
@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/css/map.css">
}

<main>
    <div class="d-flex">
        <div id="map" style="height: 550px; width: 80%"></div>
        <div class="d-flex infos">

            <h3>Control Panel</h3>

            <div class="d-flex up">
                <span style="margin-top:40px">Battery</span>
                <p class="my-0">65%</p>
            </div>

            <div class="d-flex up">
                <span>Coordinates</span>
                <p style="" class="my-0">Latitude: 40.396112</p>
                <p class="my-0">Longitude: 49.8596808</p>
            </div>

            <div class="d-flex up">
                <span>Weather</span>
                <p class="my-0">Temperature: 29°C</p>
                <p class="my-0">Air Condition: Sunny</p>
            </div>

            <hr/>

            <div class="d-flex down">
                <span>Rotate Degree</span>

                <form method="post">
                    <input type="number" placeholder="Write Degree" max="360" min="0" />
                    <button type="submit">Submit</button>
                </form>
            </div>
    </div>
    </div>
</main>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByZFwljPCDR-6mu_ZZPbLFoT7pN1a1mhc&callback=initMap" async defer></script>

<script>
    function initMap() {
        // The location to center the map (latitude and longitude)
        const center = { lat: 40.4189414, lng: 49.9170227 };

        // Create a new map instance
        const map = new google.maps.Map(document.getElementById('map'), {
            center: center,
            zoom: 18 // Set the initial zoom level (1 = World, 20 = Street level)
        });

        // Create a custom marker image
        const customMarkerImage = {
            url: 'assets/img/pointer-removebg-preview.png',
            scaledSize: new google.maps.Size(100, 100), // Set the size of the image
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(20, 40) // Position the anchor point of the image (center-bottom)
        };

        // Create a marker and place it on the map
        const marker = new google.maps.Marker({
            position: center,
            map: map,
            title: 'Your ship is here!', // Tooltip text for the marker
            icon: customMarkerImage // Use the custom marker image
        });
    }
</script>

